.container{
    background-color: rgb(202, 199, 167);
    height: 830px;
    width: 865px;
}
.container h1{
    display: inline-block;
    text-align: center;
    font-size: 45px;
}
.header{
    margin-left: 111px;
}
.imgheader{
    background-color: white;
    height: 70px;
    width: 130px;
    margin-top: 40px;
}
.fotos{
    margin-left: 25px;
   
}
.azul{
    height: 130px;
    width: 130px;
    background-color: rgb(121, 186, 216);
    padding: 10px;
    border: 5px solid black;
}
.rojo{
    height: 130px;
    width: 130px;
    background-color: rgb(247, 85, 85);
    padding: 10px;
    border: 5px solid black;
}